@import "tailwindcss";
:root {
  --background: #fcfaf7;
  --foreground: #1e3932;

  --font-main: "Poppins", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-main);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
.font-serif {
  font-family: var(--font-serif);
}
